.main{
    min-height: 100vh;
  
}

.light{
    color: black;
    cursor: pointer;
}
.light:hover{
    color: black;
}

.dark{
   
    color: white;
    cursor: pointer;
}
.dark:hover{
    color: white;
}

.selected{
    color: rgba(230, 62, 62, 0.822);

}

.selected:hover{
    color: rgba(233, 37, 37, 0.829);
}
